# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
venv/
.env/

# -------------------------
# Docker
# -------------------------
*.tar
*.gz
docker-compose.override.yml

# -------------------------
# Terraform
# -------------------------
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
.terraform.lock.hcl

# -------------------------
# Kubernetes
# -------------------------
*.secret.yaml

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# Git
# -------------------------
*.swp
*.bak
*.tmp

# -------------------------
# Logs
# -------------------------
logs/
*.log